In [1]:
import pandas as pd
import numpy as np

| names file (C4.5 format) for car evaluation domain

| class values

unacc, acc, good, vgood

| class distribution

class      N          N[%]
-----------------------------
unacc     1210     (70.023 %) 
acc        384     (22.222 %) 
good        69     ( 3.993 %) 
v-good      65     ( 3.762 %) 

| attributes

buying:   vhigh, high, med, low.
maint:    vhigh, high, med, low.
doors:    2, 3, 4, 5more.
persons:  2, 4, more.
lug_boot: small, med, big.
safety:   low, med, high.

In [2]:
data = pd.read_csv('../data/car.data', names = ['buying','maint','doors','persons','lug_boot','safety','accept'])
#data.to_csv('../data/car.csv',index=False)
data.describe()

       buying maint doors persons lug_boot safety accept
count    1728  1728  1728    1728     1728   1728   1728
unique      4     4     4       3        3      3      4
top       low   low     4    more    small    low  unacc
freq      432   432   432     576      576    576   1210

In [3]:
for column in data.columns:
    print(column, end=': ')
    print(data[column].unique())

buying: ['vhigh' 'high' 'med' 'low']
maint: ['vhigh' 'high' 'med' 'low']
doors: ['2' '3' '4' '5more']
persons: ['2' '4' 'more']
lug_boot: ['small' 'med' 'big']
safety: ['low' 'med' 'high']
accept: ['unacc' 'acc' 'vgood' 'good']

In [4]:
data.accept.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: accept, dtype: int64

In [5]:
data.accept.value_counts()/data.shape[0]

unacc    0.700231
acc      0.222222
good     0.039931
vgood    0.037616
Name: accept, dtype: float64

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [7]:
data_fact = data.copy()
for column in data.columns:
    data_fact[column] = data[column].factorize()[0]

In [8]:
data_x = data_fact.drop('accept',1)
data_y = data_fact['accept']

In [9]:
X_train, X_test, y_train, y_test =  train_test_split(data_x, data_y, test_size=.3, random_state=42)

In [10]:
clf = RandomForestClassifier()

In [11]:
y_train.ravel()

array([2, 0, 1, ..., 1, 0, 1])

In [12]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [13]:
preds = clf.predict(X_test)

In [14]:
score = preds == y_test.ravel()

In [15]:
unique, counts = np.unique(score, return_counts=True)
1 - counts[0]/len(score)

0.9595375722543352

In [16]:
clf.score(X_test,y_test)

0.9595375722543352

In [17]:
y_labels = data[column].factorize()[1]

In [18]:
y_labels[y_test]

Index(['unacc', 'acc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc',
       ...
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'good'],
      dtype='object', length=519)

In [19]:
pd.crosstab(y_labels[y_test],y_labels[preds],rownames=['Actual class'], colnames=['Predicted class'])

Predicted class  acc  good  unacc  vgood
Actual class
acc              109     4      3      2
good               2    16      0      1
unacc              5     0    353      0
vgood              3     1      0     20

In [20]:
pd.crosstab(y_labels[y_train],y_labels[clf.predict(X_train)],rownames=['Actual class'], colnames=['Predicted class'])

Predicted class  acc  good  unacc  vgood
Actual class
acc              266     0      0      0
good               0    50      0      0
unacc              0     0    852      0
vgood              0     0      0     41